
:root{ 
    --cor-bg-container:hsl(0, 2%, 88%);
    --cor-bg-principal:hsl(0, 0%, 79%);
    --cor-bg-header:hsl(155, 100%, 19%); 
    --cor-bg-linha1: hsl(116, 73%, 93%);
    --cor-bg-linha2: hsl(0, 0%, 98%);  
    --cor-bg-tooltip:rgb(88, 88, 88); 
    --cor-bg-tooltipText:hsl(0, 0%, 98%); 
    --cor-bg-negativo:hsl(213, 73%, 45%);  
    --cor-bg-shadow:hsl(0, 0%, 23%);
}
.light:root{
    --cor-bg-container:hsl(226, 20%, 16%);
    --cor-bg-header:hsl(225, 27%, 9%);
    --cor-bg-principal:hsl(225, 27%, 9%); 
    --cor-bg-linha1: hsl(225, 11%, 44%);
    --cor-bg-linha2: hsl(0, 9%, 87%);  
    --cor-bg-tooltip:rgb(231, 231, 231);  
    --cor-bg-tooltipText:hsl(0, 0%, 0%); 
    --cor-bg-negativo:hsl(213, 73%, 45%); 
    --cor-bg-shadow:hsl(225, 27%, 9%);   
}
.darkLight{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 5px;
    left: 80%;
    background-image: url(./img/light.png);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.darkLight.dark{
    background-image: url(img/dark.png);
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: var(--cor-bg-principal);
}


.container{
    width: 900px;
    height: 600px;
    margin: 8% auto;     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: var(--cor-bg-container);
}
.header p{
    text-align: center;
}
.warn{
    position: absolute;
    top: -5px;
    left: 95px;
    cursor: pointer;
    
}
.tooltip .tooltiptext {
    visibility: hidden;
    font-size: 12px;
    width: 180px;
    background-color: var(--cor-bg-tooltip);
    color: var(--cor-bg-tooltipText);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    cursor: text;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;    
  }

.container .row .negativo{   
    box-shadow: 0 5px 5px var(--cor-bg-shadow);
    color: var(--cor-bg-linha2);   
    background-color: var(--cor-bg-negativo);    
    width: 65px;
    height: 55px; 
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 5px;
    position: relative;
    
     
}

p{
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}
.row{
    display: flex;
}
.setor{
    width: 250px;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;  
}


.header .setor{
    background-color: var(--cor-bg-header);
    color: var(--cor-bg-linha2);
    border-radius: 5px 0 0 0;
}
.cobranca .setor{
    background-color: var(--cor-bg-linha1);
    display: flex;
    justify-content: left;
    padding-left: 10px;
}
.faturamento .setor{
    background-color: var(--cor-bg-linha2);
    display: flex;
    justify-content: left;
    padding-left: 10px;
}
.suporte .setor{
    background-color: var(--cor-bg-linha1);
    display: flex;
    justify-content: left;
    padding-left: 10px;
}
.validacao .setor{
    background-color: var(--cor-bg-linha2);
    display: flex;
    justify-content: left;
    padding-left: 10px;
}
.licenca{
    width: 10rem;
    height: 5rem;
    font-size: 25px;
    font-weight: bold;   
    display: flex;
    justify-content: center;
    align-items: center;
}
.offline img{
    width: 35px;
}


.header .licenca{
    background-color: var(--cor-bg-header)  ;
    color: var(--cor-bg-linha2);
}
.cobranca .licenca{
    background-color: var(--cor-bg-linha1)  
}
.faturamento .licenca{
    background-color: var(--cor-bg-linha2)    
}
.suporte .licenca{
    background-color: var(--cor-bg-linha1) 
}
.validacao .licenca{
    background-color: var(--cor-bg-linha2)    
}
.cobranca .online{
    background-color: var(--cor-bg-linha1)
}
.faturamento .online{
    background-color: var(--cor-bg-linha2)
}
.suporte .online{
    background-color: var(--cor-bg-linha1)
}
.validacao .online{
    background-color: var(--cor-bg-linha2)
}
.cobranca .offline{
    background-color: var(--cor-bg-linha1)
}
.faturamento .offline{
    background-color: var(--cor-bg-linha2)
}
.suporte .offline{
    background-color: var(--cor-bg-linha1)
}
.validacao .offline{
    background-color: var(--cor-bg-linha2)
}
.total .licenca{
    background-color: var(--cor-bg-header);
    color: var(--cor-bg-linha2);
}
.total .setor{
    background-color: var(--cor-bg-header);
    color: var(--cor-bg-linha2);
    border-radius: 0 0 0 5px;
}
.total .online{
    background-color: var(--cor-bg-header);
    color: var(--cor-bg-linha2);
}
.total .offline{
    background-color: var(--cor-bg-header);
    color: var(--cor-bg-linha2);
    border-radius: 0 0 5px 0;
}

.online{
    width: 10rem;
    height: 5rem;   
    font-size: 25px;
    font-weight: bold;    
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .online{
    background-color: var(--cor-bg-header);
    color: var(--cor-bg-linha2);
}
.offline{
    width: 10rem;
    height: 5rem; 
    font-size: 25px;
    font-weight: bold; 
    position: relative;    
    display: flex;
    justify-content: center;
    align-items: center;  
}
.header .offline{
    background-color: var(--cor-bg-header);
    color: var(--cor-bg-linha2);
    border-radius: 0 5px 0 0;
}
